/********************* Utility **********************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.my-container{
    max-width: 1200px;
    margin: 50px auto;
}
.my-flex{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/********************* Carosello **********************/
.main-image{
    position: relative;
    padding: 0.25rem;
}
.title-image{
    position: absolute;
    top: 30px; right: 30px;
    text-align: right;
    color: white;
}
.description-image{
    font-size: 20px;
}
.my-carousel-image{
    padding: 0.25rem;
    cursor: pointer;
}
#previous{
    position: absolute;
    bottom: calc(75px - 0.25rem);; left: 0.5%;
    transform: translateY(25%);

}
#next{
    position: absolute;
    bottom: calc(75px - 0.25rem); right: 0.5%;
    transform: translateY(25%);

}
.small-dimension{
    width: 250px;
    height: 150px;
}
.big-dimension{
    height: 700px;
    width: 1200px;
}
.my-opacity{
    opacity: 0.5;
}